@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

body {
  background-color: #F5EBE0;
  font-family: "Klee One", cursive;
  font-weight: 600;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h2 {
  font-family: "La Belle Aurore", cursive;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 25px;
  text-decoration: underline;
  margin: 0;
}
.card-container, .facts-container, .image-container {
  background-color: #FEFCF3;
  text-align: start;
  width: 60vw;
  margin-top: 20px;
  padding: 1rem;
  box-shadow: 1px 3px 8px 0px rgba(0,0,0,0.37);
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.image-container img {
  width: auto;
  max-width: 30%;
  object-fit: cover;
}
img {
  width: 30rem;
  height: auto;
}

/*Media queries*/

@media screen and (max-width: 800px) {
  header img {
    width: 100%;
  }

  .card-container, .facts-container, .image-container {
    width: 80vw;
  }

}