body {
  background-color: antiquewhite;
}

header {
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p, h3, h2{
  font-family: Arial, Helvetica, sans-serif;
}
.card-container, .facts-container {
  background-color: rgb(153, 149, 149);
  text-align: start;
  width: 60vw;
  margin-top: 20px;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  width: 30rem;
  height: auto;
}